.card {
    color: #fff;
    text-decoration: none;
    padding: .5rem;
    border-radius: 5px;
    background-color: #333333;
    margin: 1rem;
    display: block;
    width: 20%;
}

#cardList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}